@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;

400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 70%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header #logo {
  width: 70px;
}

.header nav {
  width: 100%;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.header .listItems {
  width: 9.0909090909%;
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  padding: 50px 0px;
  text-align: center;
  text-decoration: none;
}

.header .listItems:hover,
.header .listItems:active {
  border-bottom: 5px solid #0c7cec;
  color: #0c7cec;
}

.attiva {
  border-bottom: 5px solid #0c7cec;
  color: #0c7cec;
}

.disattiva {
  border-bottom: 5px solid rgba(12, 124, 236, 0);
}

#contentJ {
  align-items: center;
  background-color: #1c1c1c;
}

.footer #leftBox {
  display: flex;
  align-items: flex-start;
  color: white;
  gap: 35px;
}

.footer #list {
  background-image: url("/img/footer-bg.1b706117.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#rightBox {
  width: 550px;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer h4 {
  margin-top: 50px;
}

.footer .row {
  margin-bottom: 50px;
}

.footer nav {
  margin-top: 10px;
}

.footer ul {
  display: flex;
  flex-direction: column;
}

.footer a {
  list-style: none;
  color: gray;
  font-size: 12px;
  padding: 2px 0px;
}

#footer {
  background-color: #303030;
  padding: 20px 0px;
}

#bottonText {
  color: white;
  border: 3px solid #0c7cec;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 10px;
}

#socialText {
  color: #0c7cec;
  font-size: 15px;
  font-weight: 700;
}

#socialBox {
  display: flex;
  gap: 15px;
  align-items: center;
}

.socialImg {
  width: 30px;
}

.comicsBox {
  background-color: #1c1c1c;
  padding: 10px 0px;
}

#load {
  justify-content: center;
  padding: 15px 0px;
  position: relative;
}

#load2 {
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.loadButton {
  color: white;
  background-color: #0c7cec;
  padding: 8px 55px;
  border: none;
}

.serieButton {
  color: white;
  background-color: #0c7cec;
  padding: 8px 25px;
  border: none;
  position: absolute;
  left: 0;
  top: -33px;
}

.serieButton h4 {
  font-size: 25px;
}

#points {
  padding: 40px 0px;
  align-items: center;
  background-color: #0c7cec;
}

#points .card {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#points .linkText {
  font-size: 13px;
  color: white;
}

#points .imgPoints {
  width: 39px;
}

#points .card:nth-child(1) .imgPoints {
  width: 32px;
}

#points .card:nth-child(4) .imgPoints {
  width: 22px;
}

h2 {
  font-size: 22px;
  color: white;
}

.comics {
  width: 16.6666666667%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
}

.imgCard {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

h6 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
}

.stripe {
  background-color: #0c7cec;
  width: 100%;
  height: 70px;
  position: relative;
}

.stripe .containerComic {
  width: 60%;
  margin: 0 auto;
}

.stripe .containerComic .imgComic {
  width: 130px;
  position: absolute;
  top: -150px;
  z-index: 1;
}

.stripe .containerComic [class*=label] {
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  color: white;
  background-color: #00a1cf;
  font-size: 12px;
  padding: 4px;
  border: 1px solid white;
}

.stripe .containerComic .label1 {
  top: -150px;
}

.stripe .containerComic .label2 {
  width: 130px;
  bottom: -17px;
  text-align: center;
}

.infoBox {
  width: 60%;
  margin: 0 auto;
  position: relative;
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
}

.infoBox .leftInfo {
  width: 70%;
}

.infoBox .leftInfo h2 {
  color: black;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.infoBox .leftInfo .description {
  font-size: 15px;
  line-height: 25px;
}

.infoBox .leftInfo .greenBox {
  display: flex;
  background-color: #54b958;
  margin-bottom: 20px;
}

.infoBox .leftInfo .greenBox .leftGreen {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.infoBox .leftInfo .greenBox .leftGreen h4 {
  display: flex;
  color: #a4f489;
}

.infoBox .leftInfo .greenBox .leftGreen h4 p {
  color: white;
}

.infoBox .leftInfo .greenBox .middleGreen {
  width: 1.5px;
  background-color: black;
}

.infoBox .leftInfo .greenBox .rightGreen {
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 15px;
}

.infoBox .rightInfo {
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.infoBox .rightInfo h4 {
  color: gray;
}

.infoBox .rightInfo img {
  width: 250px;
}

.greyBox {
  background-color: #f0f0f0;
}

.greyBox .infoBox {
  padding: 35px 0px;
  display: flex;
}

.greyBox .infoBox .leftGrey,
.greyBox .infoBox .rightGrey {
  width: 47%;
}

.greyBox .infoBox .leftGrey h3,
.greyBox .infoBox .rightGrey h3 {
  padding-bottom: 10px;
}

.greyBox .infoBox .leftGrey .infoData,
.greyBox .infoBox .rightGrey .infoData {
  display: flex;
}

.greyBox .infoBox .leftGrey .infoData h5,
.greyBox .infoBox .rightGrey .infoData h5 {
  width: 25%;
}

.greyBox .infoBox .leftGrey .infoData .names,
.greyBox .infoBox .rightGrey .infoData .names {
  width: 75%;
  color: #00a1cf;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.greyBox .infoBox .leftGrey .infoData .names .series,
.greyBox .infoBox .rightGrey .infoData .names .series {
  text-transform: uppercase;
}

.greyBox .infoBox .leftGrey .infoData .names .blackData,
.greyBox .infoBox .rightGrey .infoData .names .blackData {
  color: black;
}

.greyBox .line {
  width: 100%;
  height: 1px;
  background-color: silver;
  margin: 10px 0px;
}

.greyBox .outline {
  margin: 0px 0px;
}

.greyBox .iconsBox {
  width: 25%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px;
  border-left: 1px solid #d2d2d2;
}

.greyBox .iconsBox h5 {
  width: 75%;
  color: #d2d2d2;
}

.greyBox .iconsBox [class*=icon] {
  width: 19%;
  background-image: url("/img/cta-icons.png");
  background-size: 160px;
}

.greyBox .iconsBox .icon2 {
  background-position: right top;
}

.greyBox .iconsBox .icon3 {
  background-position: 66% top;
}

.greyBox .iconsBox .icon4 {
  background-position: 33% top;
}

.infoBox:last-child {
  padding: 0;
}

.iconsBox:last-child {
  border-right: 1px solid #d2d2d2;
}